option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"

container_commands:
  01_install_deps:
    command: "npm install --production=false"
  02_build_app:
    command: "npm run build"
  03_install_prod_only:
    command: "npm prune --production"
