option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 22.18.0

commands:
  01_install_dependencies:
    command: "npm install"
    cwd: "/var/app/staging"
  02_build_app:
    command: "npm run build"
    cwd: "/var/app/staging"